{% for comment in comments %}
    <div class="comment" id="c{{ comment.id }}">
        <p class="info">
            <a class="vote_up sign_in" href="">+</a>
            <a class="vote_down" href="">-</a>
            <span class="points">
                {{ comment.points }} {{ 'point' if comment.points in (1, -1) else 'points' }}
            </span>
            
            by {{ comment.author }}
            
            {{ relative_date(comment.created) }}
            |
            <a href="#c{{ comment.id }}">link</a>
        </p>
        {{ escape(comment.text) }}
        <a data-id="{{ comment.id }}" class="reply">reply</a>
        {{ handler.render_comments(comment.replies) }}
    </div>
{% end %}
