<!DOCTYPE html>
<html>
<head>
    {% block title %}
        <title>Thrutched | Videos for people who love climbing</title>
    {% end %}
    <link type="text/css" href="/static/style.css" rel="stylesheet">
    {% block style %}{% end %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/script.js"></script>
    {% block script %}{% end %}
</head>

<body>
    <div id="header">
        <a id="logo" href="/">thrutched</a>
        <div style="float:left;padding-top:10px;padding-left:10px;">
            videos for people who love climbing
            &nbsp;
            <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fthrutched&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px; margin-bottom:-5px;" allowTransparency="true"></iframe>
        </div>
        <div id="nav">
            <a href="/submit">Submit</a>
            <a href="http://www.google.com/search?sitesearch=thrutched.com">Search</a>
        </div>
        <div style="clear:both"></div>
    </div>
    
    <div id="content">
        {% block content %}{% end %}
    </div>
    <div style="clear:both"></div>
    
    <div id="footer">
    </div>
    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23118624-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</body>

</html>
