<!DOCTYPE html>
<html>
<head>
    {% block title %}
        <title>Thrutched | climbing videos to make your palms sweaty</title>
    {% end %}
    <link type="text/css" href="/static/style.css" rel="stylesheet">
    {% block style %}{% end %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript" src="/static/script.js"></script>
    {% block script %}{% end %}
</head>

<body>
    <div id="header">
        <a id="logo" href="/">thrutched</a>
        <div id="nav">
            <a href="/submit">Submit ✎</a>
            <a href="/rss.xml">RSS</a>
            <a href="http://www.google.com/search?sitesearch=thrutched.com">Search</a>
        </div>
        <div style="clear:both"></div>
    </div>
    
    <div id="content">
        {% block content %}{% end %}
    </div>
    <div style="clear:both"></div>
    
    <div id="footer">
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-3228291-1']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </div>
</body>

</html>
