{% extends "base.html" %}


{% block title %}
    <title>Thrutched | Submit a Video</title>
{% end %}


{% block style %}
    <style>
        #url, #title { width: 450px; }
        #text {
            width: 450px;
            height: 150px;
        }
    </style>
{% end %}


{% block script %}
    <script>
        $(function(){
            var youtube_re = /youtube\.com\/watch\?\S*v=([^&\s]+)/;
            var vimeo_re = /vimeo\.com\/(\d+)/;
            
            $('#url').focus()
                .bind('paste blur keyup', function(){
                    var youtube = youtube_re.exec(this.value);
                    var vimeo = vimeo_re.exec(this.value);
            
                    if (youtube){
                        var url = 'http://gdata.youtube.com/feeds/api/videos/' + youtube[1] + '?v=2&alt=jsonc&callback=?';
                        $.getJSON(url, function(data){
                            var title = data.data.title;
                            var text = data.data.description;
                            $('#title').val(title);
                            $('#text').val(text);
                        });
                    } else if (vimeo){
                        var url = 'http://vimeo.com/api/v2/video/' + vimeo[1] + '.json?callback=?';
                        $.getJSON(url, function(data){
                            data = data[0];
                            var title = data.title;
                            var text = data.description;
                            $('#title').val(title);
                            $('#text').val(text);
                        });
                    }
                });
        });
    </script>
{% end %}


{% block content %}
    {% set message = handler.get_argument('message', None) %}
    {% if message == 'missing_url' %}
        <div id="message" class="error">Please enter a URL!</div>
    {% elif message == 'missing_title' %}
        <div id="message" class="error">Please enter a title!</div>
    {% elif message == 'missing_text' %}
        <div id="message" class="error">Please enter a description!</div>
    {% elif message == 'not_found' %}
        <div id="message" class="error">Hey, we couldn't find the video. Please check that it's correct or try again later!</div>
    {% elif message == 'dupe' %}
        <div id="message" class="error">Sorry, this <a target="_blank" href="/{{ handler.get_argument('dupe', '') }}">video</a> has already been submitted!</div>
    {% end %}
    
    <h1>Submit a Video</h1>
    
    <form action="/submit" method="post">
        {{ xsrf_form_html() }}
        <label for="url">Url (YouTube or Vimeo)</label>
        <input id="url" type="text" name="url" value="{{ handler.get_argument('url', '') }}" tabindex="1">
        <label for="title">Title</label>
        <input id="title" type="text" name="title" value="{{ handler.get_argument('title', '') }}" tabindex="2">
        <label for="text">Text</label>
        <textarea id="text" name="text" tabindex="3">{{ handler.get_argument('text', '') }}</textarea>
        <input type="submit" value="Do it!" tabindex="4">
    </form>
{% end %}
