{% extends "base.html" %}


{% block title %}
    <title>Thrutched | {{ escape(video.title) }}</title>
{% end %}


{% block script %}
    <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
    <script>
        jQuery(function($){
            FB.Event.subscribe('edge.create', function(response) {
                $.post(location.href, {action: 'like'});
            });
            
            $('a.like, a.dislike').live('click', function(){
                var link = $(this).fadeOut();
                $.post(this.href, function(data){
                    link.parent()
                        .find('span.points')
                        .fadeOut(function(){
                            $(this).text(data).fadeIn();
                        });
                });
                return false;
            });
        });
    </script>
{% end %}


{% block style %}
    <link rel="image_src" href="{{ video.thumbnail }}">
    <style>
        h1.title {
            margin-top: 1em;
            margin-bottom: 0.5em;
        }
        iframe.video {
            width: 100%;
            height: 540px;
        }
        a.vid_thumb {
            float: right;
            margin-top: 2em;
        }
        a.vid_thumb .title {
            top: 90px;
        }
        
        .description {
            padding-top: 10px;
            width: 600px;
            text-align: justify;
        }
        
        #reply_box #author,
        #reply_box #text { width: 300px; }
        #reply_box #text { height: 100px; }
    </style>
{% end %}


{% block content %}
    {% if video.youtube %}
        <iframe src="http://www.youtube.com/embed/{{ video.youtube }}?autohide=1&amp;hd=1" class="video" frameborder="0"></iframe>
    {% elif video.vimeo %}
        <iframe src="http://player.vimeo.com/video/{{ video.vimeo }}" class="video" frameborder="0"></iframe>
    {% end %}
    
    {% if next_vid %}
        <a class="vid_thumb" href="/{{ next_vid.key().id() }}">
            <img src="{{ next_vid.thumbnail }}">
            <span class="title">Next...<br> {{ next_vid.title }}</span>
        </a>
    {% end %}
    
    <h1 class="title">{{ escape(video.title) }}</h1>
    <fb:like href="" send="false" width="450" show_faces="false" font=""></fb:like>
    
    <p class="description">{{ escape(video.text) }}</p>
    <div style="clear:both"></div>
    
    <h2 style="margin-top:2em">Comments</h2>
    <div id="fb-root"></div>
    <fb:comments href="http://www.thrutched.com/{{ video.key().id() }}" css="http://www.thrutched.com/static/style.css" num_posts="10" width="500"></fb:comments>
{% end %}

