{% extends "base.html" %}


{% block title %}
    <title>Thrutched | {{ escape(video.title) }}</title>
{% end %}


{% block script %}
    <script>
        (function($){
            $('a.reply').live('click', function(){
                $('#reply_to').val($(this).data('id'));
                $('#reply_box')
                    .insertAfter($(this).closest('.body'))
                    .toggle('fast')
                    .find('textarea')
                    .focus();
                return false;
            });
        })(jQuery);
    </script>
{% end %}


{% block style %}
    <style>
        iframe.video {
            width: 100%;
            height: 540px;
        }
        #reply_box { display: none; }
        #reply_box .body { width: 75%; }
        #reply_box textarea {
            width: 100%;
            height: 100px;
        }
    </style>
{% end %}


{% block content %}
    <div class="topic">
        {% if video.youtube %}
            <iframe src="http://www.youtube.com/embed/{{ video.youtube }}?hd=1" class="video" frameborder="0"></iframe>
        {% elif video.vimeo %}
            <iframe src="http://player.vimeo.com/video/{{ video.vimeo }}" class="video" frameborder="0"></iframe>
        {% end %}
        <p class="info">
            <h1 class="title">
                {{ escape(video.title) }}
            </h1>
            <a class="vote_up" href="">+</a>
            /
            <a class="vote_down" href="">-</a>
            <span class="points">
            </span>
            {{ relative_date(video.created) }}
        </p>
        <a class="reply">reply</a>
    </div>
    
    <h2>Comments</h2>
    
    
    {{ handler.render_comments(replies) }}
{% end %}

